@media only screen and (max-width: 500px) {
  .formContainer {
    border-left: none;
    background-color: blue;
  }
}

body {
    background-color: #232b2b;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0;
    margin: 0;
}

.flexboxContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
}

.flexboxContainer2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

h1 {
    color: white;
    text-shadow: .03em .03em #FF7F7F;
}

.rGeneratorH1 {
  align-self: center;
}

.nav {
  border-bottom: solid;
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
}

.nav a {
  justify-content: space-around;
  width: 2em;
  height: 2em;
  /* padding: 2em; */
  text-shadow: 2px 2px 5px #ff7f7f;
  }
  

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color:#FF7F7F;
    background-color: transparent;
    text-decoration: none;
  }
  
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

.truckImg {
    width: 2em;
    height: 2em;
}

table, th, td {
    border: .15em solid white;
    border-collapse: collapse;
    max-width: 100;
}

tr:hover {
    background-color: #FF7F7F ;
}

.formContainer {
  flex-grow: 1;
  float: right;
  border-top: solid;
  border-right: hidden;
  border-left: solid;
  border-bottom: solid;
  padding-left: .5em;
  padding-right: .5em;
}



.routeNameForm {
  border-bottom-style: solid;
  border-color: white;
  padding-bottom: 1em;
}

.runRoute {
  border-top-style: solid;
  border-color: white;
  margin-top: 1em;
  }



.routeDisplay {
  clear: both;
}

.runRoute {
  padding-bottom: 1em;
}

.map {
  flex-grow: 10;
  background-color: orange;
}

