body {
  position: flex;
  background-color: #232b2b;
  color: white;
}

h1 {
  text-shadow: 2px 2px 5px #FF7F7F;
}

table, th, td {
    position: flex;
    border: 1px solid white;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}

tr:hover {
    background-color: #FF7F7F ;
}

.formContainer {
    position: flex;
    justify-content: right;
    width: 25em;
    bottom: 40em;
    left: 93em;
    height: 40em;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    border-color: white;
}

.routeNameForm {
    border-bottom-style: solid;
    border-color: white;
    padding-bottom: 1em;
}

.map {
    position: flex;
    background-color:#FF7F7F;
    width: 92.5em;
    height: 40em;
}

.routeDisplay {
    position: flex;
    bottom: 40em;
}

.nav {
    position: flex;
    justify-content: space-around;
    font-size: 2em;
    color: white;
    border-bottom: solid;
    margin-bottom: 1em; 
    text-shadow: 2px 2px 5px #FF7F7F;
}

img {
  width: 2em;
  height: 2em;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:#FF7F7F;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  .runRoute {
    border-top-style: solid;
    border-color: white;
    margin-top: 1em;
  }

  .routeBtn {
    padding: 1em 2em;
}

.about {
    width: 35em;
    font-size: larger;
}

.rList {
  font-size: 2em;
  text-decoration: underline;
}