table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

tr:hover {
    background-color: #FF7F7F ;
}

.formClass {
    width: 25em;
    position: relative;
    bottom: 40em;
    left: 93em;
    height: 40em;
}

.map {
    position: relative;
    background-color: aqua;
    width: 92.5em;
    height: 40em;

}

.routeDisplay {
    position: relative;
    bottom: 40em;
}